In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from pandas import DataFrame,concat
from sklearn.preprocessing import MinMaxScaler
#TechIndicators
from ta.trend import SMAIndicator,EMAIndicator
from ta.momentum import RSIIndicator
import joblib

In [2]:
data = pd.read_csv("Data/Data-Validation.csv")
data

,Stocks,Date,Open,High,Low,Volume,Close
0,Apple,2005-07-28,1.317876,1.322385,1.301347,251311200,1.316374
1,Apple,2005-07-29,1.309160,1.333805,1.270090,562080400,1.281811
2,Apple,2005-08-01,1.279407,1.294734,1.264680,314249600,1.284817
3,Apple,2005-08-02,1.289024,1.307357,1.280609,296875600,1.298041
4,Apple,2005-08-03,1.298040,1.301647,1.285417,258322400,1.298941
...,...,...,...,...,...,...,...
25130,Johnson&Johnson,2025-07-16,160.300003,166.119995,159.800003,22134800,164.779999
25131,Johnson&Johnson,2025-07-17,163.179993,164.699997,162.300003,11295700,162.979996
25132,Johnson&Johnson,2025-07-18,163.929993,165.100006,163.360001,9792600,163.699997
25133,Johnson&Johnson,2025-07-21,163.770004,164.919998,162.779999,8254000,164.360001
25134,Johnson&Johnson,2025-07-22,165.000000,168.059998,164.710007,9277700,167.929993

In [23]:
EDA_data = data.copy()

In [24]:
#Encoding
categorical = data.iloc[:,[0]]
OneHot = OneHotEncoder(dtype="int")
Encode = OneHot.fit_transform(categorical)
Encode.toarray()

array([[1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       ...,
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 1, 0]])

In [25]:
Encode_df = DataFrame(Encode.toarray(),columns=OneHot.get_feature_names_out())
data = concat([Encode_df,data.iloc[:,[1,2,3,4,5,6]]],axis=1)
data

,Stocks_Apple,Stocks_GeneralElectric,Stocks_IBM,Stocks_Johnson&Johnson,Stocks_Microsoft,Date,Open,High,Low,Volume,Close
0,1,0,0,0,0,2005-07-28,1.317876,1.322385,1.301347,251311200,1.316374
1,1,0,0,0,0,2005-07-29,1.309160,1.333805,1.270090,562080400,1.281811
2,1,0,0,0,0,2005-08-01,1.279407,1.294734,1.264680,314249600,1.284817
3,1,0,0,0,0,2005-08-02,1.289024,1.307357,1.280609,296875600,1.298041
4,1,0,0,0,0,2005-08-03,1.298040,1.301647,1.285417,258322400,1.298941
...,...,...,...,...,...,...,...,...,...,...,...
25130,0,0,0,1,0,2025-07-16,160.300003,166.119995,159.800003,22134800,164.779999
25131,0,0,0,1,0,2025-07-17,163.179993,164.699997,162.300003,11295700,162.979996
25132,0,0,0,1,0,2025-07-18,163.929993,165.100006,163.360001,9792600,163.699997
25133,0,0,0,1,0,2025-07-21,163.770004,164.919998,162.779999,8254000,164.360001
25134,0,0,0,1,0,2025-07-22,165.000000,168.059998,164.710007,9277700,167.929993

In [26]:
#Scaling Each Stocks with MinMaxScaler
Scale = dict()
Stocks = data.columns[0:5]
cols = data.columns[6:11]
for i in Stocks:
    df = data[data[i]==1].copy()
    for j in cols:
        Scaler = MinMaxScaler()
        MinMax = Scaler.fit_transform(df[[j]])
        df.loc[:,j] = MinMax
        data.loc[df[j].index,j] = df[j]
        # Scale[i]=Scaler
        joblib.dump(Scaler,f"Models/scaled_{i}_{j}.pkl")
data

C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\1034659010.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[0.06808793 0.16086219 0.08687699 ... 0.00768416 0.00840147 0.00688583]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[:,j] = MinMax
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\1034659010.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[0.06808793 0.16086219 0.08687699 ... 0.00768416 0.00840147 0.00688583]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  data.loc[df[j].index,j] = df[j]

,Stocks_Apple,Stocks_GeneralElectric,Stocks_IBM,Stocks_Johnson&Johnson,Stocks_Microsoft,Date,Open,High,Low,Volume,Close
0,1,0,0,0,0,2005-07-28,0.000159,0.000116,0.000150,0.068088,0.000134
1,1,0,0,0,0,2005-07-29,0.000125,0.000161,0.000028,0.160862,0.000000
2,1,0,0,0,0,2005-08-01,0.000009,0.000009,0.000007,0.086877,0.000012
3,1,0,0,0,0,2005-08-02,0.000047,0.000058,0.000069,0.081690,0.000063
4,1,0,0,0,0,2005-08-03,0.000082,0.000036,0.000088,0.070181,0.000067
...,...,...,...,...,...,...,...,...,...,...,...
25130,0,0,0,1,0,2025-07-16,0.944729,0.976459,0.947055,0.134177,0.971310
25131,0,0,0,1,0,2025-07-17,0.965481,0.966309,0.965098,0.061532,0.958453
25132,0,0,0,1,0,2025-07-18,0.970885,0.969168,0.972749,0.051458,0.963596
25133,0,0,0,1,0,2025-07-21,0.969732,0.967881,0.968563,0.041146,0.968310
25134,0,0,0,1,0,2025-07-22,0.978595,0.990325,0.982492,0.048007,0.993811

<strong>Feature Engineering Per Stocks</strong>

In [10]:
for j in EDA_data["Stocks"].unique():
    df = EDA_data[EDA_data["Stocks"]==j]
    sma = df["Close"].rolling(7).mean()
    df["SMA_7"] = sma
    ema = EMAIndicator(df["Close"],window=7).ema_indicator()
    df["EMA_7"] = ema
    rsi = RSIIndicator(df["Close"],window=7).rsi()
    df["RSI_7"] = rsi
    wvap = ((df["Low"]+df["High"]+df["Close"])/3*(df["Volume"])).cumsum()/df["Volume"].cumsum()
    df["WVAP"] = wvap
    df["Year"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.year
    df["Month"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.month
    if j=="Apple":
        Apple = DataFrame()
        Apple = df.replace(np.nan,0)
        Apple.to_csv(f"Data/{j}",index=False) #Save
    if j=="Microsoft":
        Microsoft = DataFrame()
        Microsoft =df.replace(np.nan,0)
        Microsoft.to_csv(f"Data/{j}",index=False)
    if j=="IBM":
        IBM = DataFrame()
        IBM = df.replace(np.nan,0)
        IBM.to_csv(f"Data/{j}",index=False)
    if j=="GeneralElectric":
        GeneralElectric = DataFrame()
        GeneralElectric = df.replace(np.nan,0)
        GeneralElectric.to_csv(f"Data/{j}",index=False)
    if j=="Johnson&Johnson":
        JohnsonJohnson = DataFrame()  
        JohnsonJohnson = df.replace(np.nan,0)
        JohnsonJohnson.to_csv(f"Data/{j}",index=False)

C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.year
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Month"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.month
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.year
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Month"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.month
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.year
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Month"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.month
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.year
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Month"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.month
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["SMA_7"] = sma
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["EMA_7"] = ema
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["RSI_7"] = rsi
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["WVAP"] = wvap
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Year"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.year
C:\Users\lipun\AppData\Local\Temp\ipykernel_23368\857438407.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Month"] = pd.to_datetime(EDA_data[EDA_data["Stocks"]==j]["Date"]).dt.month

In [11]:
EDA_data.to_csv("Data/EDA_transformed.csv",index=False)
data.to_csv("Data/Transformed.csv",index=False)

In [9]:
eda = pd.read_csv("Data/Apple")
eda

,Stocks,Date,Open,High,Low,Volume,Close,SMA_7,EMA_7,RSI_7,WVAP,Year,Month
0,Apple,2005-07-28,1.317876,1.322385,1.301347,251311200,1.316374,0.000000,0.000000,0.000000,1.313368,2005,7
1,Apple,2005-07-29,1.309160,1.333805,1.270090,562080400,1.281811,0.000000,0.000000,0.000000,1.300838,2005,7
2,Apple,2005-08-01,1.279407,1.294734,1.264680,314249600,1.284817,0.000000,0.000000,0.000000,1.295424,2005,8
3,Apple,2005-08-02,1.289024,1.307357,1.280609,296875600,1.298041,0.000000,0.000000,0.000000,1.295405,2005,8
4,Apple,2005-08-03,1.298040,1.301647,1.285417,258322400,1.298941,0.000000,0.000000,0.000000,1.295395,2005,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5022,Apple,2025-07-16,210.300003,212.399994,208.639999,47490500,210.160004,210.372857,209.811390,57.977546,18.632513,2025,7
5023,Apple,2025-07-17,210.570007,211.800003,209.589996,48068100,210.020004,210.374287,209.863544,57.126754,18.637538,2025,7
5024,Apple,2025-07-18,210.869995,211.789993,209.699997,48974600,211.179993,210.380001,210.192656,62.452911,18.642669,2025,7
5025,Apple,2025-07-21,212.100006,215.779999,211.630005,51377400,212.479996,210.389999,210.764491,67.699473,18.648118,2025,7
5026,Apple,2025-07-22,213.139999,214.949997,212.229996,46300400,214.399994,210.852855,211.673367,73.967346,18.653043,2025,7

In [6]:
dt = pd.read_csv('Data/Apple.csv')

,Stocks_Apple,Stocks_GeneralElectric,Stocks_IBM,Stocks_Johnson&Johnson,Stocks_Microsoft,Date,Open,High,Low,Volume,Close
0,1,0,0,0,0,2005-07-28,0.000159,0.000116,0.000150,0.068088,0.000134
1,1,0,0,0,0,2005-07-29,0.000125,0.000161,0.000028,0.160862,0.000000
2,1,0,0,0,0,2005-08-01,0.000009,0.000009,0.000007,0.086877,0.000012
3,1,0,0,0,0,2005-08-02,0.000047,0.000058,0.000069,0.081690,0.000063
4,1,0,0,0,0,2005-08-03,0.000082,0.000036,0.000088,0.070181,0.000067
...,...,...,...,...,...,...,...,...,...,...,...
25130,0,0,0,1,0,2025-07-16,0.944729,0.976459,0.947055,0.134177,0.971310
25131,0,0,0,1,0,2025-07-17,0.965481,0.966309,0.965098,0.061532,0.958453
25132,0,0,0,1,0,2025-07-18,0.970885,0.969168,0.972749,0.051458,0.963596
25133,0,0,0,1,0,2025-07-21,0.969732,0.967881,0.968563,0.041146,0.968310
25134,0,0,0,1,0,2025-07-22,0.978595,0.990325,0.982492,0.048007,0.993811

<h1><b>FINAL REPORT: DATA-TRANSFORMATION</b></h1>
<li>Encoded Categorical Values "Stocks" using OneHotEncoder</li>
<li>Scaled Numerical Features for each unique "Stocks" using MinMaxScaler for further use in Model Implementations</li>
<li>Performed Feature Engineering on each unique "Stocks" and saved it for further applications , extracted SMA(Simple-Moving avg) using rolling feature, EMA(exponential-Moving avg) using EMAIndicator,RSI value using RSIIndicator and WVAP(Weighted volume avg price) using traditional formula</li>
<li>Saved Scaled Model for each stocks for further uses and applications</li>